* {
  margin: 0;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f5f7f6;
  line-height: 1.8em;
}

header,
main,
footer {
  max-width: 900px;
  margin: auto;
}

article > p {
  text-align: right;
}

body > header {
  margin-top:20px;
  border-bottom: 1px solid black;
}

dialog {
  background-color: #ddfba9;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left : 35vw;
}

header hgroup h1 {
  margin-bottom: 14px;
}

header hgroup h3 {
  color: rgb(50, 49, 49);
}

nav {
  margin-top: 12px;
  display: flex;
  gap: 20px;
}

details {
  background-color: rgba(22, 175, 134, 0.5);
  width : 20%;
  border : 1px solid gray;
}
details p {
  line-height: 0.1em;
}

summary {
  text-align: center;
}

details summary:hover {
  cursor: pointer;
}

details[open] summary {
  border-bottom: 1px solid gray;
}

nav a {
  text-decoration: none;
  color: #065f46;
  font-weight: 500;
}

article {
  background: rgb(255, 254, 254);
  margin-top: 16px;
  padding: 18px;
}

section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(94, 93, 93);
}

section h3 {
  text-align: center;
  color: green;
}

section > p {
  text-align: center;
  padding: 18px 0;
}

section:nth-child(3) P {
  padding: 5px;
}

mark {
  background-color: #a7ecd9;
  padding: 3px 5px;
}

figure {
  margin: 25px 0;
}

aside {
  text-align: right;
}

img {
  width: 80%;
  height: 60vh;
  margin-left: 7em;
  object-fit: cover;
}

figcaption {
  text-align: center;
  margin-top: 5px;
  color: #606061;
}

button {
  color : rgb(69, 69, 68);
  background-color: #8a918f;
  border-radius: 5px;
}

button:hover {
  cursor : pointer;
}