

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: ghostwhite;
}

dialog {
  color: #222;
  border : 2px solid #888;
  background-color: antiquewhite;
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

button {
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 6px;
} 

nav a {
margin-left: 7em;
margin-right: 7em;
text-decoration: none;
}

body > header {
  border-bottom: 1px solid #666;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.3em;
}

main {
  margin-left: 10em;
  margin-right: 10em;
  justify-content: center;
}

hgroup h3 {
   text-align: center;
}

main article:first-child h2 {
padding-left: 5em;
margin-bottom: 0px;
}

main article:first-child p {
padding-left: 35em;
margin: 0;
}

img {
  object-fit: cover;
  width: 50vw;
  height: 50vh;
}